#relatoriosContainer {
  width: 80vw;
  position: absolute;
  margin-left: 15vw;
  padding-top: 2%;
}

.table {
  width: 60% !important;
}

#titleRelatorios {
  color: #07081a;
  width: 60%;
  display: flex;
  align-items: center;
  gap: 1%;
  font-size: x-large;
}

#csvIcon {
  cursor: pointer;
}